body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

.f {
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  
  .f input[type="text"],input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  .f select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  .f button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .f button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  .h{
    display: none;
  }
  .quiz-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .con{
    background-color: #4CAF50;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 5px;
  }