<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Successful</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='singup.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logos/logo.ico') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logos/logo.ico') }}">
</head>
<body>
    <div class="container">
        <h1><span>Signup Successful</span></h1>
        <p>You can now <a href="/">login</a> with your new account.</p>
    </div>
</body>
</html>
